services:
  backup:
    image: offen/docker-volume-backup:${VERSION:-latest}
    restart: unless-stopped
    labels:
      wud.watch: true
      wud.tag.include: '^v\d+\.\d+\.\d+$'
      wud.link.template: 'https://github.com/offen/docker-volume-backup/releases/tag/$${original}'
    environment:
      BACKUP_CRON_EXPRESSION: "30 3 * * *"
      BACKUP_JITTER: "10m"
      BACKUP_COMPRESSION: "gz"
      BACKUP_RETENTION_DAYS: "30"
      BACKUP_PRUNING_LEEWAY: "1m"
      EXEC_FORWARD_OUTPUT: "true"
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./configuration:/etc/dockervolumebackup/conf.d
      # Destination Directory
      - /opt/terminal_dogma/AppData:/archive
      # Authentik (DB, data, secrets)
      - /opt/docker_data/authentik/data:/backup/authentik/authentik_data
      - /opt/docker_data/authentik/secrets:/backup/authentik/authentik_secrets
      - /opt/docker_data/authentik/db_backup:/backup/authentik/authentik_db
