services:
  dozzle-agent:
    image: amir20/dozzle:v8.14.7
    container_name: "dozzle-agent"
    restart: unless-stopped
    command: agent
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - 7007:7007