include:
  - ../common/networks.yaml

services: # Port 8084
  shelfmark:
    image: ghcr.io/calibrain/shelfmark:${VERSION:-latest}
    restart: unless-stopped
    container_name: shelfmark
    environment:
      PUID: 1000
      PGID: 1000
      TZ: America/Los_Angeles
    labels:
      wud.tag.include: '^\d+\.\d+\.\d+$'
    volumes:
      - /opt/appdata/shelfmark/data:/config
      - type: volume
        source: central-dogma
        target: /books
        volume:
          nocopy: true
          subpath: downloads/bookdrop
      - type: volume
        source: central-dogma
        target: /data/downloads/complete
        volume:
          nocopy: true
          subpath: downloads/complete
    networks:
      - homelab

volumes:
  central-dogma:
    driver: local
    driver_opts:
      type: nfs
      o: addr=central-dogma.local,nolock,soft,nfsvers=4
      device: :/volume1/Media
