[Unit]
Description=Runs certbot container to renew certificates
Wants=certbot.timer
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c "docker compose -f /opt/homelab/compose.yaml run --rm certbot renew"

[Install]
WantedBy=multi-user.target
