include:
  - ../common/networks.yaml
services:
  nautical-backup:
    image: minituff/nautical-backup:2.14
    container_name: nautical-backup
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /opt/appdata/nautical:/config 
      - /opt/appdata:/app/source
      - /opt/terminal_dogma/AppData:/app/destination
    environment: # Optional variables 
      TZ: America/Los_Angeles 
      CRON_SCHEDULE: 35 2 * * *
      USE_DEST_DATE_FOLDER: true
      DEST_DATE_PATH_FORMAT: container/date
      REQUIRE_LABEL: true
      DOCKER_HOST: tcp://docker-socket-proxy:2375
    networks:
      - default
      - homelab

  docker-socket-proxy:
    image: tecnativa/docker-socket-proxy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - CONTAINERS=1
      - IMAGES=1
      - ALLOW_START=1
      - ALLOW_STOP=1
      - EXEC=1
      - VOLUMES=1
    networks:
      - default

networks:
  default: