services:
  backup:
    image: offen/docker-volume-backup:v2.46.1
    restart: unless-stopped
    environment:
      BACKUP_CRON_EXPRESSION: "@daily"
      BACKUP_JITTER: "0s"
      BACKUP_COMPRESSION: "gz"
      BACKUP_RETENTION_DAYS: "30"
      BACKUP_PRUNING_LEEWAY: "1m"
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./configuration:/etc/dockervolumebackup/conf.d
      # Destination Directory
      - /opt/terminal_dogma/AppData:/archive
      # Booklore (DB, app)
      - /opt/appdata/booklore/data:/backup/booklore/booklore_data
      - /opt/appdata/booklore/db_backup:/backup/booklore/booklore_db
      # Homebox (DB, Data, Secrets)
      - /opt/appdata/homebox/data:/backup/homebox/homebox_data
      - /opt/appdata/homebox/db/backup:/backup/homebox/homebox_db
      - /opt/appdata/homebox/secrets:/backup/homebox/homebox_secrets
      # Homepage
      - /opt/appdata/homepage:/backup/homepage:ro
      # Immich (Secrets only)
      - /opt/appdata/immich/secrets:/backup/immich/immich_secrets
      # Maintainerr (sqlite)
      # NPM (DB, Data)
      - /opt/appdata/nginx-proxy-manager/data:/backup/npm/npm_data
      - /opt/appdata/nginx-proxy-manager/letsencrypt:/backup/npm/npm_letsencrypt
      - /opt/appdata/nginx-proxy-manager/secrets:/backup/npm/npm_secrets
      - /opt/appdata/nginx-proxy-manager/db/backup:/backup/npm/npm_db
      # Paperless (DB, Data)
      - /opt/appdata/paperless/data:/backup/paperless/paperless_data
      - /opt/appdata/paperless/db/backup:/backup/paperless/paperless_db
      # Servarr (DB, Transmission)
      - /opt/appdata/servarr/db/backup:/backup/servarr/servarr_db
      - /opt/appdata/servarr/transmission:/backup/servarr/transmission
