services:
  backup:
    image: offen/docker-volume-backup:${VERSION:-latest}
    restart: unless-stopped
    labels:
      wud.tag.include: '^\d+\.\d+\.\d+$'
      wud.link.template: 'https://github.com/offen/docker-volume-backup/releases/tag/$${original}'
    environment:
      BACKUP_CRON_EXPRESSION: "30 3 * * *"
      BACKUP_JITTER: "10m"
      BACKUP_COMPRESSION: "gz"
      BACKUP_RETENTION_DAYS: "30"
      BACKUP_PRUNING_LEEWAY: "1m"
      EXEC_FORWARD_OUTPUT: "true"
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./configuration:/etc/dockervolumebackup/conf.d
      # Destination Directory
      - /opt/terminal_dogma/AppData:/archive
      # Bar Assistant
      - /opt/appdata/bar-assistant/backups:/backup/bar-assistant/bar_assistant_data
      - /opt/appdata/bar-assistant/secrets:/backup/bar-assistant/bar_assistant_secrets
      # Calibre (Manifest, Data, Config)
      - /opt/appdata/calibre/config:/backup/calibre/calibre_config
      - /opt/appdata/calibre/data:/backup/calibre/calibre_data
      - /opt/appdata/calibre/library:/backup/calibre/calibre_library
      # Homebox (DB, Data, Secrets)
      - /opt/appdata/homebox/data:/backup/homebox/homebox_data
      - /opt/appdata/homebox/db/backup:/backup/homebox/homebox_db
      - /opt/appdata/homebox/secrets:/backup/homebox/homebox_secrets
      # Homepage
      - /opt/appdata/homepage:/backup/homepage:ro
      # Immich (Kiosk Config, Secrets)
      - /opt/appdata/immich/secrets:/backup/immich/immich_secrets
      - /opt/appdata/immich/kiosk_config:/backup/immich/immich_kiosk_config
      # Maintainerr (sqlite)
      # NPM (DB, Data, Secrets)
      - /opt/appdata/nginx-proxy-manager/data:/backup/npm/npm_data
      - /opt/appdata/nginx-proxy-manager/letsencrypt:/backup/npm/npm_letsencrypt
      - /opt/appdata/nginx-proxy-manager/secrets:/backup/npm/npm_secrets
      - /opt/appdata/nginx-proxy-manager/db/backup:/backup/npm/npm_db
      # Paperless (DB, Data)
      - /opt/appdata/paperless/data:/backup/paperless/paperless_data
      - /opt/appdata/paperless/db/backup:/backup/paperless/paperless_db
      - /opt/appdata/paperless/secrets:/backup/paperless/paperless_secrets
      # Servarr (DB, Transmission, Secrets)
      - /opt/appdata/servarr/db/backup:/backup/servarr/servarr_db
      - /opt/appdata/servarr/transmission:/backup/servarr/transmission
      - /opt/appdata/servarr/secrets:/backup/servarr/servarr_secrets
      # Shelfmark (Data)
      - /opt/appdata/shelfmark/data:/backup/shelfmark/shelfmark_data
      # unifi-route53-dns (secrets)
      - /opt/appdata/unifi-route53-dns:/backup/unifi-route53-dns