services:
  beszel-agent:
    image: henrygd/beszel-agent:${VERSION:-latest}
    container_name: "beszel-agent"
    restart: unless-stopped
    network_mode: host
    labels:
      wud.watch: true
      wud.tag.include: '^\d+\.\d+\.\d+$'
      wud.link.template: 'https://github.com/henrygd/beszel/releases/tag/v$${original}'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      LISTEN: 45876
      KEY: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOgr5IGIqhQ3jmTSp3oBcIwLlTZsZ6Hfg5saYY+F0zX/"