[Unit]
Description=Runs container to refresh dns records in AWS
Wants=aws-dns.timer
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c "docker compose -f /opt/homelab/compose.yaml run --rm awsdns"

[Install]
WantedBy=multi-user.target
