include:
  - ../common/networks.yaml
services:
  whats-up-docker: # Port 300
    image: getwud/wud:${VERSION:-latest}
    container_name: wud
    restart: unless-stopped
    labels:
      wud.tag.include: '^\d+\.\d+\.\d+$'
    env_file:
      - /opt/appdata/whats-up-docker/secrets/whatsupdocker.env
    environment:
      TZ: America/Los_Angeles
      WUD_REGISTRY_LSCR_PRIVATE_USERNAME: borzilleri
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /opt/appdata/whats-up-docker/data:/store
    networks:
      - homelab