include:
  - ../common/networks.yaml

services:
  unifi-route53-dns:
    image: "ghcr.io/borzilleri/unifi-route53-dns:latest"
    container_name: unifi-route53-dns
    restart: unless-stopped
    environment:
      UNIFI_R53_DNS_APP_PORT: 8080
      UNIFI_R53_DNS_LOG_LEVEL: INFO
      AWS_REGION: us-west-2
      AWS_SHARED_CREDENTIALS_FILE: /run/secrets/aws_credentials
    volumes:
      - ./config.yaml:/config.yaml
    secrets:
      - aws_credentials
    networks:
      - homelab
secrets:
  aws_credentials:
    file: /opt/appdata/unifi-route53-dns/aws_credentials