include:
  - ../common/networks.yaml

# Port 8080
services:
  dozzle:
    image: amir20/dozzle:${VERSION:-latest}
    container_name: dozzle
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    labels:
      wud.tag.include: '^v\d+\.\d+\.\d+$'
    environment:
      # Enable container actions (stop, start, restart).
      # See https://dozzle.dev/guide/actions
      DOZZLE_ENABLE_ACTIONS: true
      # Allow access to container shells. See https://dozzle.dev/guide/shell
      DOZZLE_ENABLE_SHELL: true
      # Enable authentication. See https://dozzle.dev/guide/authentication
      # DOZZLE_AUTH_PROVIDER: simple
      # Don't know what happened here, but the dev is some kind of
      # fucking moron and broke hostname resolution somehow.
      # How do you even *do* that?
      DOZZLE_REMOTE_AGENT: 192.168.1.241:7007
    networks:
      - homelab
